/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}


/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

body {
    padding-bottom: 20px;
    color: #666;
}

.ui-widget-header {
    background-color: #1688c9 !important;
}

.btn {
    border-width: 0 1px 4px 1px;
}

.btn-primary {
    background-color: #1688c9;
    border-color: #1b7493;
}

.btn-lg {
    font-size: 28px;
}

h2 {
    padding-left: 15px;
    color: #1688c9;
    font-weight: bold;
}

label.error {
    padding: 3px 5px;
    margin: 0;
    font-family: inherit;
    font-size: 10px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    position: absolute;
    top: 24px;
    right: 6px;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

textarea {
    resize: none;
}

.alert {
    display: none;
}


/*HEADER*/

.header h3 {
    margin-left: 11px;
}

.arts {
    margin: 30px 15px 0 0;
}

.arts p {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 15px;
}


/*CONTENT*/

.grey-back {
    background: #e7e7e7;
    padding: 20px 0;
    width: auto;
}

.jumbotron {
    height: 283px;
    overflow: hidden;
    padding: 0 !important;
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

.jumbotron article {
    position: absolute;
    z-index: 500;
    top: 20px;
    bottom: 20px;
    right: 20px;
    margin-left: 20px;
    max-width: 500px;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: right;
    padding: 15px;
}

.jumbotron article h1 {
    margin: 0 0 20px 0;
    font-size: 43px;
    font-weight: normal;
}

#columnas div.gre-box {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    background-color: #d8d8d8;
    padding: 15px;
    min-height: 177px;
}

#columnas div.gre-box img {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    margin-right: 15px;
    float: left;
    height: 145px;
}

#columnas div.gre-box center {
    text-align: right;
    margin-top: 15px;
}

#homeform .inline {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

#homeform .form-group {
    position: relative;
}

.row2 center {
    margin-top: 0 !important;
}

.row2 center h3 {
    margin-top: 0;
    margin-bottom: 20px;
}


/*NOSOTROS*/

#nosotros {
    margin: 0;
    font-size: 15px;
}

.firma {
    margin: 20px 15px;
}

.firma strong {
    font-size: 18px;
}


/*FAQ*/

#faq {
    margin: 0;
}

#faq .col-md-3 {
    text-align: right;
}

#accordion {
    margin: 20px 0 40px;
}

#accordion .panel-title a {
    color: #666;
}

#accordion .panel-title a:hover {
    color: #1688c9;
    text-decoration: none !important;
}

#accordion .panel-body {
    padding: 25px;
}

.list-group-item {
    background-color: #F8F8F8;
}

.list-group-item>.badge {
    float: none;
    background-color: #1688c9;
}


/*COMO AFILIARSE*/

.infograf {
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
}

.infograf>div {
    padding: 0;
}

.infograf>div section {
    margin: 7px;
}

.infograf .list-group {
    max-width: 300px;
    color: #666;
    margin: 0 auto;
}

.infograf .default .list-group {
    max-width: none;
}

.infograf .red li {
    background-color: #ff4136;
    border-color: #911b17;
    color: #fff;
    font-weight: bold;
    margin: 15px 0;
    font-size: 17px;
}

.infograf h1 {
    font-size: 25px;
    margin: 0 auto 15px auto;
}

.infograf .default section {
    /*background: #1688c9;*/
    /*color: #fff;*/
    text-align: center;
    padding: 20px;
}

.infograf .primary section {
    background: #1688c9;
    color: #fff;
    text-align: center;
    padding: 40px;
}

.infograf .warning section {
    background: #ff851b;
    color: #fff;
    text-align: center;
    padding: 40px;
}

.infograf .danger section {
    background: #ff4136;
    color: #fff;
    text-align: center;
    padding: 40px;
}

.infograf .success section {
    background: #28b62c;
    color: #fff;
    text-align: center;
    padding: 40px;
}

.infograf span {
    font-size: 30px;
}

.infograf span.glyphicon-arrow-down {
    font-size: 55px;
}


/*CONTACTO*/

#contacto {
    max-width: 600px;
    margin: auto;
}

#contacto .form-group {
    position: relative;
}


/*FOOTER*/

.footer {
    background: #1688c9;
    padding: 10px 0;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
}

.footer .col-md-2 img {
    margin-top: -45px;
}

.footer .col-md-6 {
    padding-top: 27px;
}

.footer .col-md-6 a {
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
}

.footer .col-md-4 {
    text-align: right;
    padding-top: 5px;
}

.photo-aboutus {
    max-height: 300px;
    overflow: hidden;
}

.photo-aboutus img {
    width: 100%;
    margin-top: -10%;
}


/*MEDIA QUERIES*/

@media (max-width:992px) and (min-width:768px) {
    /*HEADER*/
    .arts {
        width: 380px;
        text-align: center;
    }
    .arts p {
        margin: 0;
    }
    .arts img {
        width: 70%;
    }
    /*NAVBAR*/
    .nav>li>a {
        padding: 15px 8px;
    }
    /*FAQ*/
    #faq .col-md-3 {
        text-align: center;
        padding-top: 10px;
    }
}

@media all and (min-width: 768px) {
    /*NAVBAR*/
    .container-fluid {
        padding-left: 0;
    }
    .navbar {
        margin: 20px 0px 20px 0;
        font-size: 13px;
    }
    .navbar-right a {
        padding: 12px 5px !important;
    }
    .navbar-mobile, .moreInfo, .n1, .onlymobile {
        display: none;
    }
}

@media all and (max-width: 768px) {
    /* MOBILE */
    body {
        font-family: 'Roboto', Arial, sans-serif;
        padding-bottom: 0;
        margin-bottom: 60px;
        color: #1D4359;
    }
    .navbar-nav .open .dropdown-menu {margin-left: 30px;}
    input.form-control::-webkit-input-placeholder {
        color: #1D4359;
    }
    .hideonmob {
        display: none;
    }
    p {
        font-weight: 300;
    }
    h2 {
        font-size: 20px;
    }
    /*HEADER*/
    .navbar-mobile {
        display: block;
    }
    .navbar__header {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        /* NEW, Spec - Firefox, Chrome, Opera */
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
    }
    .navbar__header--icon {
        width: 20px;
        height: 20px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    .navbar__header--icon span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #1688C9;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    .navbar__header--icon span:nth-child(1) {
        top: 0px;
    }
    .navbar__header--icon span:nth-child(2), #nav-icon3 span:nth-child(3) {
        top: 8px;
    }
    .navbar__header--icon span:nth-child(4) {
        top: 16px;
    }
    .navbar__header--icon.open span:nth-child(1) {
        top: 8px;
        width: 0%;
        left: 50%;
    }
    .navbar__header--icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .navbar__header--icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .navbar__header--icon.open span:nth-child(4) {
        top: 8px;
        width: 0%;
        left: 50%;
    }
    .navbar__header .logo-min {
        flex-grow: 2;
        text-align: center;
        margin: 0;
    }
    .navbar__header .logo-min img {
        width: 60px;
        margin-left: -20px;
    }
    .navbar__phone {
        background-color: #1688C9;
        text-align: center;
        color: #ffffff;
        font-size: 12px;
        line-height: 30px;
        font-weight: 300;
        margin-top: 10px;
        min-height: 30px;


    }
    .navbar__phone a {
        margin-bottom: 0;
        color: #ffffff;
    }
    .navbar-mobile-list {
        background: #ffffff;
    }
    .navbar-mobile-list .navbar-nav a {
        color: #1D4359;
        font-weight: 300;
        padding-left: 40px;
        font-size: 16px;
    }
    /*FAQ*/
    #faq .col-md-3 {
        text-align: center;
        padding-top: 10px;
    }
    /*HOME*/
    .n1 {
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
        width: 60px;
    }
    .n1 img {
        width: 100%;
    }
    .grey-back {
        padding: 0;
    }
    .grey-back .container {
        padding: 0;
    }
    .container .jumbotron {
        border-radius: 0;
    }
    .jumbotron img {
        height: 100%;
    }
    .jumbotron article {
        background-color: rgba(0, 0, 0, 0.0);
        top: 0;
        bottom: 0;
        right: 0;
        margin-left: 0;
        padding: 0;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        /* NEW, Spec - Firefox, Chrome, Opera */
        justify-content: flex-end;
        ;
        flex-direction: column;
        -webkit-flex-direction: column;
        width: 100%;
        max-width: 100%;
    }
    .jumbotron .cta {
        margin-bottom: 0;
        background-color: #ffffff;
        text-align: center;
    }
    .jumbotron .cta span {
        display: none;
    }
    .jumbotron .cta a {
        width: 94%;
        margin: 6px auto;
        font-size: 14px;
    }
    .jumbotron article h1 {
        font-size: 21px;
        text-align: left;
        padding: 0 20px;
    }
    .moreInfo {
        display: block;
    }
    .moreInfo p {
        padding: 20px;
    }
    .moreInfo img {
        width: 100%;
    }
    /*FOOTER*/
    .footer {
        padding: 0;
        height: 60px;
    }
    .footer .logo-footer img {
        width: 20%;
        padding: 0;
    }
    /*ABOUT US*/
    .grey-back.nogrey {
        background: #ffffff;
    }
    .photo-aboutus img {
        width: 100%;
    }
    .firma {
        text-align: right;
    }
    /* FORM LICITACION */
    .container.relative.clearfix.cb, .col-xs-12.relative.clearfix.contBox, .col-sm-6.col-xs-12.relative.clearfix.wow.fadeInLeft {
        padding: 0;
    }
    .form-group .firstinput {
        margin-top: 15px;
    }
    .form-control {
        border: 1px solid #979797;
        color: #1D4359;
        font-weight: 300;
    }
    .mT20xs {
        padding-left: 0;
        padding-right: 0;
    }
    .marginfix {
        margin-bottom: 15px;
    }
    /* PREGUNTAS FRECUENTES */
    .buttonmob {
        width: 100%;
        background-color: #1688C9;
        border-color: #1688C9;
    }
    .panel-heading {
        border-radius: 0;
    }
    .panel-default>.panel-heading {
        background-color: #57A4D0;
        border: 0;
        padding-right: 20px;
    }
    #accordion .panel-title a {
        color: #ffffff;
    }
    a:hover, a:focus, #accordion .panel-title a:hover {color: #ffffff;}
    .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 7.5px 0 7.5px;
        border-color: #ffffff transparent transparent transparent;
        -webkit-transform: rotate(360deg);
        position: absolute;
        right: 10px;
    }
    a.down .triangle {
      border-color: transparent transparent #ffffff transparent;
      border-width: 0 7.5px 8px 7.5px;}
.panel-title {font-size: 14px;
  }
    .list-group-item {background-color: #ffffff;
      padding: 10px 0;
      border: 0;
      font-weight: 300;
    color: #4A4A4A;}

      /* COMO AFILIARSE*/
      .infograf .default section {padding: 0 10px;
        text-align: left;}
      .infograf h1 {font-size: 16px;
      color: #1688C9;
      font-weight: bold;}

      .infograf .red li {
        color: #4A4A4A;
        background-color: #ffffff;
        border-color: #ffffff;
        margin: 0;
        font-size: 16px;

      }
      .infograf .primary section, .infograf .success section, .infograf .danger section, .infograf .warning section {color: #4A4A4A;
      background-color: #ffffff;
      padding: 0 10px;
    text-align: left;}
    .boldonmob {font-weight: bold;}
    .infograf .list-group-item {padding: 0 0 10px 0;}

    #contacto {margin: 0 15px;}
    form button.btn-primary {margin-bottom: 20px;}

}
